<!DOCTYPE html>
<html>
  <head>
    <title> Things I have been watching </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="backgroundimage">
    <div class="container">
      <div class="main-content">
        <h1 style="font-size: 120px">Coming Soon</h1>
          <a href="/">
          <div class="button">
            <p>Home</p>
          </div></a>
      </div>
      <div class="sidebar">
      </div>
    </div>
  </body>
  <footer>
    <p>Running on node with Express, Jade and Stylus</p>
  </footer>
</html>