doctype html
html
head
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45674421-1', 'orionzhao.herokuapp.com');
      ga('send', 'pageview');

    script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type='text/javascript' src="scripts/modernizr.js")
    script(type='text/javascript' src="scripts/index.js")

    meta(name='keywords' content='Orion Zhao, Orion, Zhao, personal website')
    meta(name='description', property='og:description', content='Orion Zhao\'s personal website')
    title  A hungry fool 
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.backgroundimage
    .container
      .main-content
        p.landing_name.rotate.landing_name_vertical ZHA
        p.landing_name ORION
        .icons
          a(href='https://angel.co/orionzhao', target='_blank')
            img.icon(src='/images/Angel-list-icon.svg')
          a(href='https://twitter.com/OrionZhao', target='_blank')
            img.icon(src='/images/Twitter-icon.svg')
          a(href='https://www.linkedin.com/in/orionzhao', target='_blank')
            img.icon(src='/images/Linkedin-icon.svg')
          a(href='https://github.com/orionzhao', target='_blank')
            img.icon(src='/images/Github-icon.svg')
          a(href='http://orionzhao.tumblr.com/', target='_blank')
            img.icon(src='/images/Tumblr-icon.svg')
          a(href='http://instagram.com/orionzhao', target='_blank')
            img.icon(src='/images/Instagram-icon.svg')
          a(href='https://www.facebook.com/orion.zhao', target='_blank')
            img.icon(src='/images/Facebook-icon.svg')

  footer
    .email
      a(href='mailto:me@orionzhao.com', target='_top')
        img.icon(src='/images/email_icon.svg' )
