<!DOCTYPE html>
<html>
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45674421-1', 'orionzhao.herokuapp.com');
      ga('send', 'pageview');
    </script>
    
    <title> A hungry fool </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="backgroundimage">
    <div class="container">
      <div class="main-content">
        <p class="landing_name rotate landing_name_vertical">ZHA</p>
        <p class="landing_name">ORION</p>
        <div class="icons">
          <a href="https://www.facebook.com/orion.zhao" target="_blank">
            <img src="/images/Facebook-icon.svg" height="38" width="38">
          </a>
          <a href="https://www.linkedin.com/in/orionzhao" target="_blank">
            <img src="/images/Linkedin-icon.svg" height="38" width="38">
          </a>
          <a href="https://twitter.com/OrionZhao" target="_blank">
            <img src="/images/Twitter-icon.svg" height="38" width="38">
          </a>
          <a href="http://orionzhao.tumblr.com/" target="_blank">
            <img src="/images/Tumblr-icon.svg" height="38" width="38">
          </a>
          <a href="https://plus.google.com/+OrionZhao/" target="_blank">
            <img src="/images/Google-plus-icon.svg" height="38" width="38">
          </a>
          <a href="https://angel.co/orionzhao" target="_blank">
            <img src="/images/Angel-list-icon.svg" height="38" width="38">
          </a>
          <a href="http://instagram.com/orionzhao" target="_blank">
            <img src="/images/Instagram-icon.svg" height="38" width="38">
          </a>
        </div>
        <!--
        <a href="/recent">
              <div class="button" >
                <p>Don't Click It!</p>
                <p class="sendline">unless you want to know more about me</p>
              </div></a>
        <a href="/a-stack-a-day-keeps-the-bug-away">
              <div class="button" style="align=right">
                <p>A stack a day keeps the bug away</p>
              </div></a>
        </div>
        -->
      </div>
      <div class="sidebar">
      </div>
    </div>
  </body>
  
  <footer>
    <div class="email">
        <a href="mailto:zhao.orion@gmail.com" target="_top">
          <img src="/images/email_icon.svg" height="38" width="38">
        </a>
    </div>
  </footer>
</html>