doctype html
html
  head
    title  - Orion Zhao
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.backgroundimage
    .container
      .main-content
      .sidebar
  footer
    p Running on node with Express, Swig and Stylus
