<!DOCTYPE html>
<html>
  <head>
    <title> Recently this guy... </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="backgroundimage">
    <div class="container">
      <div class="main-content">
        <h1 class="page-sub-title"> Things I have watched<h1>
        <iframe width="500" height="315" src="//www.youtube.com/embed/RBumgq5yVrA" frameborder="0" allowfullscreen></iframe><a href="/">
          <div class="button backbtn">
            <p>Home</p>
          </div></a>
      </div>
      <div class="sidebar">
      </div>
    </div>
  </body>
  <footer>
    <p>Running on node with Express, Swig and Stylus</p>
  </footer>
</html>