/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans");

/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
/*
 * font face
 */
@font-face {
  font-family: 'Courier_Prime';
  src: url("/fonts/Courier/Courier_Prime.ttf");
}
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
.backgroundimage {
  background-image: url("/images/background-yellow.jpg");
}
.landing_name {
  font-size: 150px;
  font-family: 'Quicksand';
}
.landing_name_vertical {
  position: relative;
  top: 175px;
  left: 80px;
}
.rotate {
/* Safari */
  -webkit-transform: rotate(90deg);
/* Firefox */
  -moz-transform: rotate(90deg);
/* IE */
  -ms-transform: rotate(90deg);
/* Opera */
  -o-transform: rotate(90deg);
}
.icons {
  width: 500px;
  text-align: center;
  position: relative;
  top: -30px;
  margin: 0px auto;
  overflow: hidden;
}


.button {
  float: left;
  margin: 2px 10px;
  background-color:#ededed;
  border-radius: 6px;
  text-indent:0;
  display: inline-block;
  color:#777777;
  font-family: "Roboto Condensed";
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height: 65px;
  line-height:50px;
  width: 230px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  vertical-align: center;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.button:active {
  position:relative;
  top:1px;
}

.button .sendline {
  position: relative;
  top: -15px;
  left: 0px;
  font-size: 15px;
  line-height: 100%
}

.button p {
  position: relative;
  top: 5px;
  left: 0px;
  font-size: 25px;
  line-height: 100%
}

.backbtn p {
  position: relative;
  vertical-align: center;
  font-size: 25px;
  line-height: 200%;
}

.page-sub-title {
  font-size: 2em; 
  text-align:center; 
  margin: 20px;
}
header {
  font-family: 'Quicksand';
  padding: 20px 10px;
  color: #fff;
  font-size: 30px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 500px;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}

.article-title {
  font-family: 'Alegreya Sans';
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.article-title a {
  text-decoration: none;
  color: rgb(59, 129, 131);
}

.article-title a:visited {
  color: none;
}

footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  position: relative;
  bottom: 0px;
  font-size: 13px;
}