extend layout
body

block content
  p.landing_name.rotate.landing_name_vertical
    | ZHA
  p.landing_name
    | ORION

  .icons
    a(href="https://www.facebook.com/orion.zhao" target="_blank")
      img(src= "/images/Facebook-icon.png" height="38" width="38")
    a(href="https://www.linkedin.com/in/orionzhao" target="_blank")
      img(src= "/images/Linkedin-icon.png" height="38" width="38")
    a(href="https://twitter.com/OrionZhao" target="_blank")
      img(src= "/images/Twitter-icon.png" height="38" width="38")
    a(href="http://orionzhao.tumblr.com/" target="_blank")
      img(src= "/images/Tumblr-icon.png" height="38" width="38")
    a(href="https://plus.google.com/+OrionZhao/" target="_blank")
      img(src= "/images/Google-plus-icon.png" height="38" width="38")
    a(href="https://angel.co/orionzhao" target="_blank")
      img(src= "/images/Angel-list-icon.png" height="38" width="38")
  .button_div
    a(href="/recent")
      .button
        p 
         | Don't Click It!
        p.sendline
         | unless you want to know more about me
  .button_div
    a(href="/stack")
      .button
        p 
          | One stack a day keep bugs away


// a(href="http://stackoverflow.com/questions/7116332/confused-with-all-the-node-js-frameworks-libraries-etc-around" target="_blank")
      p.stack
        |One stack a day keep the bug away

//block sidebar
  .widget
    h1 My tweets
    p
      | tweet1
    p
      | tweet2
