!!!5
html
  head
    title #{title} - Orion Zhao
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.backgroundimage
    .container
      .main-content
        block content
      .sidebar
        block sidebar

  footer
    p Running on node with Express, Jade and Stylus
