<!DOCTYPE html>
<html>
<head>
    <title> #{title}- Orion Zhao</title>
  <link rel=stylesheet href="/stylesheets/style.css">
</head>
  <body class="backgroundimage">
    <div class="container">
      <div class="main-content">
        <div id="content">
            <p class="landing_name rotate landing_name_vertical">ZHA</p>
            <p class="landing_name">ORION</p>
            <div class="icons">
              <a href="https://www.facebook.com/orion.zhao" target="_blank">
                <img src="/images/Facebook-icon.png" height="38" width="38" />
              </a>
            </div>
  .icons
    a(href="https://www.facebook.com/orion.zhao" target="_blank")
      img(src= "/images/Facebook-icon.png" height="38" width="38")
    a(href="https://www.linkedin.com/in/orionzhao" target="_blank")
      img(src= "/images/Linkedin-icon.png" height="38" width="38")
    a(href="https://twitter.com/OrionZhao" target="_blank")
      img(src= "/images/Twitter-icon.png" height="38" width="38")
    a(href="http://orionzhao.tumblr.com/" target="_blank")
      img(src= "/images/Tumblr-icon.png" height="38" width="38")
    a(href="https://plus.google.com/+OrionZhao/" target="_blank")
      img(src= "/images/Google-plus-icon.png" height="38" width="38")
    a(href="https://angel.co/orionzhao" target="_blank")
      img(src= "/images/Angel-list-icon.png" height="38" width="38")
  div.button_div
    div
      a(href="/recent")
        .recent_button
          p 
           | Don't Click It!
          p
           | unless you want to know more about me
    div
      a(href="/stack")
        .stack_button
          p 
            | One stack a day keep bugs away

        </div>
      </div>
    </div>
  </body>
  <footer>
    <p>Running on node with Express, Jade and Stylus</p>
  </footer>